body { background-color:#6c4b2e; }

.general_container { background-color:#fdf9ed; padding-bottom:20px; }

.header_container { height: 64px; background-image: url('/mytabcloud/public/images/header_bg.png'); background-position:top center; background-repeat:repeat-x; }
.header_logo { margin-top: 8px; vertical-align: bottom; }
.header_login, .header_login td { margin-top: 8px; text-align: right; }
.gravatar { width:40px; }
.logo { vertical-align: bottom; }

.footer { width:100%; padding-top:20px; background: url('/mytabcloud/public/images/footer_shadow.png') repeat-x top center; }
/* .footer_img { background-image: url('/mytabcloud/public/images/guitar_footer.png'); background-repeat: no-repeat;height:36px; width:380px; margin-left:200px; } */

#tab_display { padding-top:20px;padding-bottom:20px; margin-top:20px; margin-bottom:10px; }

#tab_display p { margin-left: 10px; }

.tab_page { 
	-moz-box-shadow: 2px 2px 5px #999;
	-webkit-box-shadow: 2px 2px 5px #999;
	box-shadow: 2px 2px 5px #999;
	border:#ddd solid 1px; 
	background-color:#ffffff;
}

.tab_description { width: 250px; height:100px; }

.tab_line { height: auto; margin-bottom: 20px; }
.tab_line table { width: auto; margin-left:10px; }
.tab_line td { background-color: transparent; padding: 0 0 0 0; margin: 0 0 0 0; background-image: url('/mytabcloud/public/images/tab_line.png'); background-repeat: repeat-x; background-position: center left; }
.tab_line .tab_tuning { background-image:none; padding-right:3px; }
.tab_line input { margin: 0 0 0 0; padding: 0 0 0 0; border: 0px; text-align:center; background: transparent; height:1.5em; width:1.7em; }

.tuning { }
.tuning input { }

.add_line { text-align:right; width:100%; }

.button .left_button { height:35px; width:16px; background-image: url('/mytabcloud/public/images/button_01.png'); background-position: 0 0; float: left; }
.button .center_button { height:35px; width:100px; background-image: url('/mytabcloud/public/images/button_02.png'); background-position: 0 0; }
.button .right_button { height:35px; width:61px; background-image: url('/mytabcloud/public/images/button_03.png'); background-position: 0 0; float: right; }

.updownimg { vertical-align:middle;}