body { background-color:#6c4b2e; background-image: url('/mytabcloud/public/images/micro_carbon.gif'); background-repeat: repeat; }

.general_container { background-color:#ffffff; padding-bottom:20px; }

.header_container { height: 64px; background-image: url('/mytabcloud/public/images/header_bg.png'); background-position:top center; background-repeat:repeat-x; }
.header_logo { margin-top: 8px; vertical-align: bottom; }
.header_login, .header_login td { margin-top: 8px; text-align: right; }
.gravatar { width:40px; }
.logo { vertical-align: bottom; }

.footer { width:100%; padding-top:20px; background: url('/mytabcloud/public/images/footer_shadow.png') repeat-x top center; color:#ffffff; }
.footer h3 { color : #ffffff; }
/* .footer_img { background-image: url('/mytabcloud/public/images/guitar_footer.png'); background-repeat: no-repeat;height:36px; width:380px; margin-left:200px; } */

#tab_display { padding-top:20px;padding-bottom:20px; margin-top:20px; margin-bottom:10px; }
#tab_display p { margin-left: 10px; }

.tab_page { 
	-moz-box-shadow: 2px 2px 5px #999;
	-webkit-box-shadow: 2px 2px 5px #999;
	box-shadow: 2px 2px 5px #999;
	border:#ddd solid 1px; 
	background-color:#ffffff;
}

.tab_description { width: 250px; height:100px; }

.tab_line { height: auto; margin-bottom: 20px; }
.tab_line table { width: auto; margin-left:10px; margin-left: auto; margin-right: auto;}
.tab_line td { background-color: transparent; padding: 0 0 0 0; margin: 0 0 0 0; background-image: url('/mytabcloud/public/images/tab_line.png'); background-repeat: repeat-x; background-position: center left; }
.tab_line .tab_tuning { background-image:none; padding-right:3px; }
.tab_line input { margin: 0 0 0 0; padding: 0 0 0 0; border: 0px; text-align:center; background: transparent; height:1.5em; width:1.7em; }

.tuning { }
.tuning input { }

.add_line { text-align:center; width:100%; }

.updownimg { vertical-align:middle;}

.profile_image { float:left; }
.profile_content { margin-left: 150px; }
.profile_line { height:30px; border-top:1px solid #BBBBBB; }
.profile_line_title { float:left; }
.profile_line_value { float:right; }
.profile_clear { clear:both; }

.button { margin-bottom: 5px;}
.hidden { display:none ; }
